cite{
    font-size: xx-large;
    font-style: normal;
    color: rgb(255, 130, 130);
    font-family: monospace;
    font-weight: bolder;
}
body{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-cuadricula-digital-futurista-azul-oscuro-abstracto_53876-104051.jpg?size=626&ext=jpg&ga=GA1.1.1016474677.1696636800&semt=ais"); 
    background-position: fixed; 
    background-size: 1920px 1000px;
    
    color: white;

}
a{
    color: rgb(0, 0, 0);
}
fieldset{
    color: rgb(255, 255, 255);
    align-items: center;
    width: 100%;
    height: 50%;
    border: 4px rgb(255, 255, 255);
    font-weight: bolder;

}
h1{
    font-style: normal;
    font-size: xxx-large;
    color: rgb(0, 68, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    left: 300px;
    top: 0px;
    font-weight: bolder;
}
img{
    position: relative;
	width: 450px;
    height: 350px; 
}
